.barkbook-list-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: transform 300ms ease-out 0s;
}

.barkbook-list-title a {
    color: #393939;
}

.barkbook-list-container {
    padding: 10px;
}

.barkbook-list-outer-border {
    cursor: pointer;
    text-align: center;
    border: 3px solid #393939;
    padding: 5px;
    transition: border-color 300ms ease-out 0s;
}

.barkbook-list-inner-border {
    border: 1px solid #d3d3d3;
    padding: 15px 30px;
    transition: border-color 300ms ease-out 0s;
}

.barkbook-list-outer-border:hover {
    border-color: #d3d3d3;
}

.barkbook-list-outer-border:hover .barkbook-list-inner-border {
    border-color: #393939;
}

.barkbook-list-outer-border:hover .barkbook-list-image {
    transform: scale(1.1);
}

.link-barkbook-back {
    margin: 0 0 45px 0;
    display: inline-block;
}

#barkbook-sidebar-container {
    margin-bottom: 30px;
}