#page-favourites .fa {
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: inline-block;
    height: 3rem;
}

.favourites-sidebar-left-image {
    top: 0;
}

.favourites-sidebar-right-image {
    bottom: 0;
}