<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{metaTitle}}</title>
    {% include ('components/head.twig') %}
</head>
<body>
{% include ('components/header.twig') %}
{% block content %}{% endblock %}
{% include ('components/footer.twig') %}
</body>
</html>