<!DOCTYPE html>
<html>
<head>
    <title>{% block metaTitle %}{% endblock %}</title>
    {% include ('components/head.twig') %}
</head>
<body>
{% include ('components/header.twig') %}
{% block content %}{% endblock %}
{% include ('components/footer.twig') %}
</body>
</html>