{% extends "layouts/main.twig" %}
{% block content %}
    <main class="grid-container row">
        <section class="col-sm-12">
            <h1 class="page-title">{{ globals.siteName }}</h1>
        </section>
        <section class="col-sm-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis magna ut mattis commodo. Curabitur a tristique felis. In interdum tortor non lobortis tempor. Nullam auctor urna ex, at efficitur est vehicula in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin non orci vitae urna tincidunt viverra. Suspendisse tincidunt a arcu semper pulvinar. Nulla sapien velit, dapibus ut venenatis at, viverra a nibh. Integer sit amet pharetra felis, in malesuada purus. Ut sem dui, rhoncus at tellus eget, molestie iaculis justo. Proin rhoncus, magna in luctus vehicula, odio turpis viverra mi, ut molestie diam ligula a ligula.
            </p>
            <p>
                Fusce convallis mi metus, eget tristique urna convallis ut. Praesent lobortis iaculis mi at condimentum. Pellentesque scelerisque ipsum sed pulvinar suscipit. Aenean vestibulum posuere volutpat. Quisque ac orci non odio fermentum fermentum id eu odio. Aliquam maximus mattis dolor. Donec et quam sed ex fermentum egestas ut et ipsum.
            </p>
        </section>
        <section class="col-sm-12">
            <h3><a href="{{ path_for('shop') }}">Shop Now</a></h3>
            {% for user in users %}
                {{ user.first_name }}
            {% endfor %}
            <p>small product grid</p>
        </section>
    </main>
{% endblock %}