/* core */
/*-----------------------------*/
html,body,p,a,blockquote {
    font-family: "Proza Libre", "HelveticaNeue", Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    color: #393939;
}

h1,h2,h3,h4,h5 {
    font-family: "Raleway","HelveticaNeue", Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    color: #393939;
}

img {
    max-width: 100%;
}

p {
    margin: 0 0 10px 0;
}

a {
    transition: color 300ms ease-out 0s;
    text-decoration: none;
}

a:hover {
    color: #d3d3d3;
}

label {
    display: block;
}

input, textarea {
    border: 1px solid #eeeeee;
    padding: 5px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

input:focus, textarea:focus {
    outline: none;
}