<footer class="container row">
    <div class="col-md-6 col-sm-12">
        <a href="{{ path_for('shop') }}">Shop</a>
        <a href="{{ path_for('about') }}">About</a>
        <a href="{{ path_for('contact') }}">Contact</a>
    </div>
    <div id="footer-social-container" class="col-sm-12 col-md-6">
        <h4 id="footer-social-title">Follow Us:</h4>
        <a href="https://www.facebook.com/" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="https://plus.google.com/" target="_blank">
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
        </a>
        <a href="https://www.pinterest.com/" target="_blank">
            <i class="fa fa-pinterest-square" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/" target="_blank">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
    </div>
</footer>
<!--modals-->
<aside class="modal--fade" id="m--error" data-stackable="false" tabindex="-1" role="dialog" aria-labelledby="label-fade" aria-hidden="true">
    <div class="modal-inner">
        <div class="modal-content">
            <h2 id="modal-error-title"></h2>
            <p id="modal-error-content"></p>
        </div>
    </div>
    <a href="#!" class="modal-close" title="Close this modal" data-dismiss="modal" data-close="Close">&times;</a>
</aside>
<aside class="modal--fade" id="m--success" data-stackable="false" tabindex="-1" role="dialog" aria-labelledby="label-fade" aria-hidden="true">
    <div class="modal-inner">
        <div class="modal-content">
            <h2 id="modal-success-title"></h2>
            <p id="modal-success-content"></p>
        </div>
    </div>
    <a href="#!" class="modal-close" title="Close this modal" data-dismiss="modal" data-close="Close">&times;</a>
</aside>
<!--scripts-->
<script type="text/javascript" src="/public/app.base.min.js"></script>
<script type="text/javascript" src="/public/app.main.min.js"></script>