<footer class="container row">
    <div class="col-md-6 col-sm-12">
        <div class="footer-text">
            <a href="{{ path_for('page-about') }}">About</a> |
            <a href="{{ path_for('page-contact') }}">Contact</a> |
            <a href="#" class="footer-currency {% if preferences.currency is empty or preferences.currency == 'eur' %}active{% endif %}" data-currency="eur">
                <i class="fa fa-eur"></i>
            </a>
            <a href="#" class="footer-currency {% if preferences.currency == 'usd' %}active{% endif %}" data-currency="usd">
                <i class="fa fa-usd"></i>
            </a>
            <a href="#" class="footer-currency {% if preferences.currency == 'gbp' %}active{% endif %}" data-currency="gbp">
                <i class="fa fa-gbp"></i>
            </a>
        </div>
    </div>
    <div id="footer-social-container" class="col-sm-12 col-md-6">
        <h4 id="footer-social-title" class="footer-text">Follow Us:</h4>
        <a href="https://www.facebook.com/" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="https://plus.google.com/" target="_blank">
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
        </a>
        <a href="https://www.pinterest.com/" target="_blank">
            <i class="fa fa-pinterest-square" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/" target="_blank">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
    </div>
</footer>
<!--modals-->
<aside class="modal--fade" id="m--error" data-stackable="false" tabindex="-1" role="dialog" aria-labelledby="label-fade" aria-hidden="true">
    <div class="modal-inner">
        <div class="modal-content">
            <h2 id="modal-error-title"></h2>
            <p id="modal-error-content"></p>
        </div>
    </div>
    <a href="#!" class="modal-close" title="Close this modal" data-dismiss="modal" data-close="Close">&times;</a>
</aside>
<aside class="modal--fade" id="m--success" data-stackable="false" tabindex="-1" role="dialog" aria-labelledby="label-fade" aria-hidden="true">
    <div class="modal-inner">
        <div class="modal-content">
            <h2 id="modal-success-title"></h2>
            <p id="modal-success-content"></p>
        </div>
    </div>
    <a href="#!" class="modal-close" title="Close this modal" data-dismiss="modal" data-close="Close">&times;</a>
</aside>
<!--scripts-->
<script type="text/javascript" src="/public/app.base.min.js"></script>
<script type="text/javascript" src="/public/app.main.min.js"></script>