<div class="pagination">
    {% for i in range(1, (productCount/pageLimit)|round(0, 'ceil')) %}
        {% if i == currentPage %}
            <span class="pagination-element active">{{ i }}</span>
        {% else %}
            <a href="{{ globals.path }}?page={{ i }}" class="pagination-element">{{ i }}</a>
        {% endif %}
    {% endfor %}
</div>