{% extends "layouts/main.twig" %}
{% block content %}
    <main class="grid-container row">
        <div class="col-sm-12">
            <h1>Shop</h1>
            {% include('components/product-grid.twig') %}
        </div>
    </main>
{% endblock %}