{% extends "layouts/main.twig" %}
{% block content %}
    <main id="page-shop" class="grid-container row">
        <div class="col-sm-12">
            <h1>Shop</h1>
            {% include('components/product-grid.twig') %}
            {% include 'components/pagination.twig' %}
        </div>
    </main>
{% endblock %}