<footer class="container row">
    <div class="col-md-6 col-sm-12">
        <a href="{{ path_for('shop') }}">Shop</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>
    <div id="footer-social-container" class="col-sm-12 col-md-6">
        <h4 id="footer-social-title">Follow Us:</h4>
        <a href="https://www.facebook.com/" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="https://plus.google.com/" target="_blank">
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
        </a>
        <a href="https://www.pinterest.com/" target="_blank">
            <i class="fa fa-pinterest-square" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/" target="_blank">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
    </div>
</footer>
<script type="text/javascript" src="/public/app.base.min.js"></script>
<script type="text/javascript" src="/public/app.main.min.js"></script>