<footer class="container row">
    <div class="col-sm-6 hide-for-small position-relative">
        <div id="footer-copyright" class="text-small">
            Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0</a>
        </div>
    </div>
    <div id="footer-social-container" class="col-sm-12 col-md-6">
        <h4 id="footer-social-title">Say 'Woof':</h4>
        <a href="https://www.facebook.com/" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="https://plus.google.com/" target="_blank">
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
        </a>
        <a href="https://www.pinterest.com/" target="_blank">
            <i class="fa fa-pinterest-square" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/" target="_blank">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-sm-12 show-for-small position-relative">
        <div class="text-small text-center">
            Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> are licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0</a>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/public/app.base.min.js"></script>
<script type="text/javascript" src="/public/app.main.min.js"></script>
</body>
</html>