{% extends "layouts/main.twig" %}
{% block content %}
    <main id="page-admin-create-product">
        <h1>Create New Product</h1>
        <a href="{{ path_for('admin-dashboard') }}" class="button">Back</a>
        <form id="admin-create-product-form">
           <fieldset>
               <label for="create-product-title">Product Title</label>
               <input type="text" id="create-product-title"/>
               <label for="create-product-price">Price</label>
               <input type="number" id="create-product-price" step="0.01" min="0.01"/>
               <button type="submit">Submit</button>
           </fieldset>
       </form>
    </main>
{% endblock %}