{% extends "layouts/main.twig" %}
{% block content %}
    <main id="page-user-profile" class="grid-container row">
        <div class="col-sm-12">
            <h1>Profile</h1>
            <div class="text-right">
                <a href="{{ path_for('user-profile-edit') }}" class="header-link">Edit Profile <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <p>
                <strong>First Name:</strong> {{ user.firstName }}
            </p>
            <p>
                <strong>Last Name:</strong> {{ user.lastName }}
            </p>
            <p>
                <strong>Email:</strong> {{ user.email }}
            </p>
        </div>
    </main>
{% endblock %}