{% extends "layouts/main.twig" %}
{% block content %}
    <main class="grid-container row">
        <div class="col-sm-12">
            <h1>Cart</h1>
            <a href="{{ path_for('checkout') }}">Checkout</a>
        </div>
    </main>
{% endblock %}